body {background-color:black;font-family:ariel;color:white}
h1{color:grey;font-family:verdana}
.maindiv {background-color:white;
    width:600px;
    padding:20px;
    border-radius:25px;
    margin: 0 auto;
}
p { 
    color: black;
    display: inline;
    padding: 0% 10px 0% 70px;
    font-weight: 600;
}
#alert {
    padding: 0% 10px 0% 0%;
}
.principal {
    padding-right: 60px;
}
#principal {
    margin-right: 10px;
    margin-bottom: 10px;   
   
}
.rate {
    padding-right: 20px;
    
}
#rate {
    margin-right: 0px;
    margin-bottom: 20px;   
    
}
#rate_val {
    color: black;
    font-weight: 600;
    padding-left: 10px;;    
}

.years {
    padding-right: 33px;
    
}
#years {
    margin-right: 0px;
    margin-bottom: 20px;    
}

button {
    
    margin-left: 12%;
    margin-bottom: 20px;
}

footer p {
    margin: 0% 0% 0% 0%;
    padding: 0% 0% 0% 0%;
    
}

